.clients_main {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    font-family: poppins-meduim, sans-serif;
    flex-direction: column;

    h1 {
        margin-bottom: 40px;
        font-size: 60px;
        color: #00634f;
    }

    .clients_table {
        display: block;

        min-width: 600px;
        min-height: 510px;

        border-radius: 7px;
        overflow: hidden;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

        border-collapse: collapse;
        font-size: 15px;

        .clients_thead {
            height: 60px;
            
            tr {
                text-align: left;
                color: white;
                background-color: #00634f;

                th {
                    padding: 12px 15px;
                    font-weight: bold;
                    font-size: 1.1rem;
                    letter-spacing: 1px;

                }
            }
        }

        .clients_tbody {
            height: 450px;
            
            tr {
                border-bottom: 1px solid #dddddd;
                transition: all 150ms ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                    transform: scale(1.03);
                    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    
                }

                td {
                    padding: 12px 15px;

                    img {
                        max-width: 15px;
                        max-height: 15px;
                        min-width: 15px;
                        min-height: 15px;
                        width: 15px;
                        height: 15px;
                        transform: scale(2);
                        border-radius: 50%;
                        font-size: 3px;
                    }
                }
            }
        }
    }
}

@media (max-width:720px) {
    .clients_main {
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        align-items: center;
        justify-content: center;
        font-family: poppins-meduim, sans-serif;

        h1 {
            margin-bottom: 0px;
            font-size: 20px;
            color: #00634f;
            transform: translateY(80px) scale(1);
        }
    
        .clients_table {
            display: block;

            min-width: 688px;
            min-height: 300px;
    
            border-radius: 7px;
            overflow: hidden;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    
            border-collapse: collapse;
            font-size: 11px;

            transform: scale(0.5);
    
            .clients_thead {
                height: 40px;
                
                tr {
                    text-align: left;
                    color: white;
                    background-color: #00634f;
    
                    th {
                        padding: 12px 15px;
                        font-weight: bold;
                        font-size: 12px;
                        letter-spacing: 1px;
    
                    }
                }
            }
    
            .clients_tbody {
                height: 400px;
                
                tr {
                    border-bottom: 1px solid #dddddd;
                    transition: all 150ms ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #f5f5f5;
                        transform: scale(1.03);
                        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
        
                    }
    
                    td {
                        padding: 12px 15px;
    
                        img {
                            max-width: 15px;
                            max-height: 15px;
                            min-width: 15px;
                            min-height: 15px;
                            width: 15px;
                            height: 15px;
                            transform: scale(2);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}   