.products {
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: poppins-meduim, sans-serif;
    display: flex;
    flex-direction: column;

    #welcome {
        background-color: #00634f;
        text-align: center;
        color:#ffffff;
        padding: 20px;
        margin: 3px;
        border-radius: 7px;
        font-size: 45px;
        font-weight: bold;
    }

    h2, h3 {
        text-align: center;
        padding: 10px;
        color:#00634f;
    }  

    #short {
        margin-left: 0;
        width: 100%;
    }

    #long {
        max-width: 100%;
        margin:20px 0 6px 0;
    }

    #allP {
        text-align: center;
        font-size: 35px;
    } 

    .grid {
        min-width: 10%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        grid-gap: 15px;

        .card {
            margin: 10px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
            border-radius: 10px;
            min-width: 280px;
            min-height: 390px;
            background: #f5f6f7;
            transition: all 150ms ease-in-out;

            &:hover {
                transform: scale(1.03);
            }

            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 280px;
                max-width: 280px;
                height: 280px;
                min-height: 280px;   
            }

            .container {
                background-color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color: black;
                width: 280px;
                height: 110px;
                p {
                    margin: 0px;
                    margin-top: 1px;
                    font-size: 14.5px;
                }
            }
        }
    }

    #form {
        text-align: center;
        p {
            display: inline;
            color: #00634f;
            text-align: center;
            padding: 10px;
        }
    }

    #progress {
        display: none;
    
        h3 {
            text-align: left;
            padding-bottom: 0;
            margin-bottom: 0;
            color: #00634f;
        }
    
        #circle {
            border-radius: 6px;
            background: #00634f;
            color: whitesmoke;
            padding: 3px;
            display: inline;
            margin-right: 10px;
        }
        
        progress {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            margin-top: 30px; 
            background: white;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            height: 12px;
            width: 400px;  
            
            &::-webkit-progress-bar {
                background: white;
                border-radius: 5px;
                height: 12px;
                width: 100%;
            }
            &::-webkit-progress-value {
                background: #00634f;
                border-radius: 5px;
            }
            &::-moz-progress-value {
                background: #00634f;
                border-radius: 5px;   
            }
        }
    }
}

@media (max-width: 720px) {
    .products {
        max-width: 100vh;

        #welcome {
            font-size: 30px;
        }

        .grid {
            grid-template-columns: auto;

            &:last-of-type {
                margin-bottom: 50px;
            }
        }
    }
}

